/* .boxList{
    display: flex;
    list-style: none;
}
.box{
    width: 180px;
    display: flex;
}
.wrapperInput{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 150px;
    height: 150px;
    border: dashed rgb(100, 100, 100);
}
.input{
    width: 20px;
}
.fgbdf{
    background-color: aqua;
    width: 100px;
    height: 100px;
} */
.boxes{
    display: flex;
}